<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.ye17186.myhelper.imail.mapper.SysImailBoxMapper">

    <insert id="insertBatch">
        insert into tb_sys_imail_box
        (imail_id, login_key, created, modified)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.imailId},
            #{item.loginKey},
            #{item.created},
            #{item.modified}
            )
        </foreach>
    </insert>
    <select id="selectCount4UnRead" resultType="io.github.ye17186.myhelper.imail.model.ImailCountResponse$Item">
        select a.classify, count(
            if(
                (b.group_type = 'ALL' and (c.read_status is null or c.read_status = 'N'))
                or
                (b.group_type = 'SPECIFIC' and c.login_key = #{loginKey} and c.read_status = 'N'),
                1, null)
        ) as count
        from tb_sys_imail a
        inner join tb_sys_imail_group b on b.deleted = 0 and b.imail_id = a.id
        left join tb_sys_imail_box c on c.deleted = 0 and c.imail_id = a.id
        where a.deleted = 0 and a.send_time &gt;= #{beginTime}
        group by a.classify
    </select>
    <select id="selectImailPage" resultType="io.github.ye17186.myhelper.imail.model.ImailBasicResponse">
        select a.id as imail_id, a.classify, a.title, a.description, a.link, a.send_time,
            ifnull(c.read_status, 'N') as read_status, c.read_time
        from tb_sys_imail a
        inner join tb_sys_imail_group b on b.deleted = 0 and b.imail_id = a.id
        left join tb_sys_imail_box c on c.deleted = 0 and c.imail_id = a.id
        where a.deleted = 0 and (b.group_type = 'ALL' or (b.group_type = 'SPECIFIC' and c.login_key = #{loginKey}))
        <if test="classify != null and classify != ''">
            and a.classify = #{classify}
        </if>
        <if test="readStatus == 'Y'">
            and c.read_status = 'Y'
        </if>
        <if test="readStatus == 'N'">
            and (c.read_status is null or c.read_status = 'N')
        </if>
    </select>
</mapper>